:root {
    --board-size: 500px; /* Total size of the Sudoku board */
    --square-size: calc(var(--board-size) / 9); /* Size of each Sudoku square */
    --note-box-size: calc(var(--square-size) / 3); /* Size of each note box within a square */
    --offset: 2px;
    --gap-size: 1px ; 
    --bold-line-size: 2px; /* Thickness for bold lines */
}

.board-square {
    display: grid;
    grid-template-columns: repeat(9, var(--square-size));
    grid-template-rows: repeat(9, var(--square-size));
    gap: calc(var(--gap-size) + var(--offset));
    width: calc(var(--board-size) + 10*var(--gap-size) + 8*var(--offset));
    height: calc(var(--board-size) + 10*var(--gap-size) + 8*var(--offset));
    border: 2px solid brown;
    border-radius: 2px;
    user-select: none; /* Prevent text selection */
    outline: none; /* Remove default outline */

}

.notes-square, .editable-regular-square {
    height: calc(var(--square-size) + 2*var(--gap-size));
    width: calc(var(--square-size) + 2*var(--gap-size));
    font-size: 1.5rem;
    background-color: #f9f9f9;
    border: 0.5px solid #000;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    user-select: none; /* Prevent text selection */
    outline: none; /* Remove default outline */

}

.notes-square {
    display: grid;
    grid-template-columns: repeat(3, var(--note-box-size));
    grid-template-rows: repeat(3, var(--note-box-size));
}


.editable-regular-square:hover {
    /* The RGB values for Benjamin Moore's 2021-40 Yellow Highlighter are 255, 212, and 101, and its hex code is #FFD465. */
    /* Change to desired hover background color */
    background-color: #FFD465; 
    /* background-color: crimson;  */
    /* 50% opacity crimson */
    /* background-color: rgba(220, 20, 60, 0.5);  */
}

.note-box {
    width: var(--note-box-size);
    height: var(--note-box-size);
    border: 0px solid #000;
    background-color: transparent;
    cursor: pointer;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: 10px; */
    font-size: 0.75rem; /* Adjust font size as needed */
    color: rgb(105,105,105, 0.75);
    /* padding: 0; */
    user-select: none; /* Prevent text selection */
    outline: none; /* Remove default outline */


}

.note-box:hover {
    /* The RGB values for Benjamin Moore's 2021-40 Yellow Highlighter are 255, 212, and 101, and its hex code is #FFD465. */
    /* Change to desired hover background color */
    background-color: #FFD465; 
    /* background-color: crimson;  */
    /* background-color: rgba(220, 20, 60, 0.5);  */
}

/* Vertical Grid Lines */
.square-3, .square-12, .square-21, 
.square-30, .square-39, .square-48,
.square-57, .square-66, .square-75,

.square-6, .square-15, .square-24, 
.square-33, .square-42, .square-51,
.square-60, .square-69, .square-78
{ 
    height: calc(var(--square-size) + 2*var(--gap-size));
    width: calc(var(--square-size) + 2*var(--gap-size));
    border-radius: 2px;
    border-right: 1px solid brown;
}

.square-4, .square-13, .square-22, 
.square-31, .square-40, .square-49,
.square-58, .square-67, .square-76,

.square-7, .square-16, .square-25, 
.square-34, .square-43, .square-52,
.square-61, .square-70, .square-79
{
    height: calc(var(--square-size) + 2*var(--gap-size));
    width: calc(var(--square-size) + 2*var(--gap-size));
    border-radius: 2px;
    border-left: 1px solid brown;
}

/* Vertical Grid Lines */
.square-19, .square-20, .square-21, 
.square-22, .square-23, .square-24, 
.square-25, .square-26, .square-27,

.square-46, .square-47, .square-48, 
.square-49, .square-50, .square-51, 
.square-52, .square-53, .square-54
{
    height: calc(var(--square-size) + 2*var(--gap-size));
    width: calc(var(--square-size) + 2*var(--gap-size));
    border-radius: 2px;
    border-bottom: 1px solid brown;
} 

.square-28, .square-29, .square-30, 
.square-31, .square-32, .square-33, 
.square-34, .square-35, .square-36,

.square-55, .square-56, .square-57, 
.square-58, .square-59, .square-60, 
.square-61, .square-62, .square-63
{
    height: calc(var(--square-size) + 2*var(--gap-size));
    width: calc(var(--square-size) + 2*var(--gap-size));
    border-radius: 2px;
    border-top: 1px solid brown;
} 